<?xml version="1.0"?>
<configuration>
    <connectionStrings>   
             <add name="MyServer" 
             connectionString = "Data Source=LAPTOP-61JA524F\SOLOMONSQL;Initial Catalog=HouseDB;Persist Security Info=True;User ID=sa;Password=GuyHamagniv123;Pooling=False;Encrypt=True;Trust Server Certificate=True"
             providerName="Microsoft.Data.SqlClient.SqlException"/>
             <add name="victorServer" 
             connectionString = "Data Source=DESKTOP-OJ4FU91\\VICTORSERVER;Initial Catalog=HouseDB;Persist Security Info=True;User ID=admin;Password=admin;Pooling=False;Encrypt=True;Trust Server Certificate=True"
             providerName="Microsoft.Data.SqlClient.SqlException"/>
    </connectionStrings>
</configuration>

           
